.gradle/
.gradle-dist/
build/
versions/
gradle.properties.old

run/
logs/

.classpath
.project
.settings/
.idea/
.vscode/
bin/
out/
*.iml
*.launch
.javac-check*/

*.class
*.log
*.tmp
*.swp
*~

hs_err_pid*
replay_pid*
.DS_Store
Thumbs.db
Desktop.ini
